.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
}

.title {
    font-size: 3.8rem;
    font-weight: 700;
    animation: beginningContent 4000ms ease-out forwards;
    text-align: center;
}

.subtitle {
    text-align: center;
    font-size: 1rem;
    color: #FFFFFF;
    animation: beginningContent 4000ms ease-out forwards;
}

.content__button {
    width: 150px;
    height: 150px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    transition: opacity 4000ms ease-out 400ms;
    opacity: 0;
}

.loaded .content__button {
    opacity: 1;
}

.content__button a {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 400ms ease;
    transition-duration: 400ms;
    opacity: 0;
}

.loaded .content__button a {
    opacity: 1;
}

.content__button a:hover {
    background-color: #FFFFFF;
    color: #000000;
}

.projects {
    display: block;
}

.projects .projects__title,
.tech__stack .tech__title {
    text-align: center;
    padding: 3.75rem .5rem;
    font-weight: 300;
    font-size: 1.125rem;   
}

.projects .projects__cards {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    max-width: 1200px;
    height: 320px;
    padding: 0 .7rem;
    margin: 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-align: stretch;
    -webkit-box-pack: start;
}

.projects .projects__cards__item {
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.projects .projects__cards__item a {
    text-decoration: none;
    cursor: pointer;
    outline: none;
    color: #FFFFFF;
}

.projects .projects__cards__item 
a 
.projects__cards__item__type {
    position: absolute;
    text-align: left;
    width: 100%;
    padding: 1rem 0 .7rem 1rem;
    /* top: 1rem;
    left: 1rem; */
    z-index: 2;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    font-size: .7rem;
    background-color: rgba(1, 1, 1, 0.219);
}

.projects .projects__cards a .projects__card__item__image {
    display: block;
    overflow: hidden;
    position: relative;
    z-index: 1;
    line-height: 1;
    background-color: #010101;
}

.projects .projects__cards 
.projects__cards__item a 
.projects__cards__item__image img {
    /* max-width: 100%; */
    width: 293.5px;
    height: 293.5px;
    object-fit: cover;
    object-position: right;
    vertical-align: bottom;
    overflow-clip-margin: content-box;
}

.projects .projects__cards 
.projects__cards__item a 
.projects__cards__item__description {
    position: absolute;
    z-index: 2;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: .7rem;
    padding: 1.25rem 0;
    font-family: "Noto Sans", "Heebo", arial, helvetica, sans-serif;
    background-color: rgba(1, 1, 1, 0.219);
    font-weight: 700;
    line-height: 1.4;
}

@keyframes beginningContent {
    0% {
        opacity: 0;
        transform: scale(1.15);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* .carousel {
    position: relative; */
    /* display: flex; */
/*     width: 100%; */
    /* max-width: 100%;
    height: 320px;
    flex-direction: row;
    flex-wrap: wrap; */
    /* height: 100vh; */
    /* flex-wrap: wrap; */
    /* transition: transform 0.5s ease-in-out; */
/*     overflow: hidden;
} */

/* .carousel > ul[data-slides] { */
    /* height: auto; */
    /* width: 100%;
    height: 100%; */
    /* position: relative; */
/*     margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    transition: transform 0.5s ease-in-out;
    list-style: none;
} */

/* .slide {
    min-width: 25%;
    flex: 1 0 25%;
    position: relative;
    padding: 0 10px;
    box-sizing: border-box;
    opacity: 0.7;
    transition: opacity 0.3s; */
    /* display: flex;
    width: 100%;
    height: fit-content;
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    transition-delay: 200ms; */
/* } */

/* .slide > li {
    display: flex;
    width: 100%;
} */

/* .slide > .projects__card__item { */
    /* width: 320px;
    height: 300px; */
/*     display: flex;
    flex: 0 0 auto;
    object-fit: cover;
    border-radius: 2px;
} */

/* .slide .projects__card__item {
    width: 300px;
    height: 300px;
    flex-basis: 300px;
    flex-shrink: 0;
    flex-grow: 0;
    position: relative;
    overflow: hidden;
} */

/* .slide[data-active] { */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* opacity: 1; */
    /* z-index: 1;
    transition-delay: 0ms; */
/* }
 */
/* .carousel-button {
    position: absolute;
    background: none;
    border: none;
    z-index: 2;
    font-size: 4rem;
    transform: translateY(150%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    flex-wrap: wrap;
} */


.carousel__button:hover,
.carousel__button:focus {
    color: #FFFFFF;
}

.carousel__button:focus {
    outline: none;
}

/* .carousel__button.prev {
    left: -4rem;
}

.carousel__button.next {
    right: -4rem;
}

.tech__stack {
    padding: 10rem 0;
} */

@media screen and (max-width: 768px) {

    .slide[data-active] {
        display: flex;
        flex-wrap: wrap;
        columns: 2;
        opacity: 1;
        justify-content: center;
    }

    .projects__cards__item {
        max-width: 300px;
        height: auto;
        width: calc(100% - 20px);
    }
    
    .carousel-button {
        font-size: 3rem;
    }
    
    .carousel-button.prev {
        left: 1rem;
    }
    
    .carousel-button.next {
        right: 0.5rem;
    }
}

