.tech__stack {
    padding: 10rem 0 2rem 0;
}

.tech__experience {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 0 .7rem;
}

.tech__graduation {
    display: flex;
    /* align-items: last baseline; */
    justify-content: flex-end;
    flex-direction: column;
    max-width: 331px;
    height: 352px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    padding: 2rem;
    margin: 0 2rem;
}

.tech__graduation__icon {
    width: 48px;
    color: rgb(64, 64, 64);
}

.tech__graduation__title {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.75rem;
    color: rgb(212, 212, 212) / 1;
}

.tech__tools {
    width: 678px;
    height: 352px;
}

.tech__icons {
    /* border: 1px solid black; */
    max-width: 100%;
    width: 688px;
    /* margin-inline: auto; */
    position: relative;
    height: 100px;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 20%,
        rgba(0, 0, 0, 1) 80%,
        rgba(0, 0, 0, 0)
    );
    /* animation-play-state: running; */
}

/* .tech__icons .item {
    animation-play-state: running;
} */

/* .tech__icons:hover .item {
    animation-play-state: paused;
    background-color: rgba(255, 255, 255, 0.705);
} */

.item {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.295);
    border-radius: 6px;
    position: absolute;
    left: max(calc(200px * 8), 80%);
    animation-name: scrollLeft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: calc(30s / 8 * (8 - var(--n)) * -1);
}

/* .item:hover {
    animation-play-state: paused;
    background-color: rgba(255, 255, 255, 0.705);
} */

.tech__icons:hover .item {
    animation-play-state: paused;
}

.tech__icons:hover .item:hover {
    background-color: rgba(255, 255, 255, 0.705);
    transform: scale(1.05);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.item svg {
    width: 90px;
    height: 90px;
    text-align: center;
}

.tech__link {
    display: inline-flex;
    font-size: .75rem;
    line-height: 1rem;
    padding: 2rem .75rem 0 .75rem;
    border-radius: .375rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.tech__link svg {
    width: 1rem;
    height: 1rem;
    margin: 0 0 0 .5rem;
    font-size: .75rem;
    font-weight: 500;
    line-height: 1rem;
}

@keyframes scrollLeft {
    to {
        left: -20%;
    }
}

@media screen and (max-width: 768px) {
    .tech__tools {
        width: 80%;
        height: auto;
    }
}
