.footer__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    list-style: none;
    text-decoration: none;
    padding: 12rem 0 1.5rem 0;
}

.footer__icons ul li {
    padding: 0 2rem;
}

.footer__icons li a {
    color: #FFFFFF;
    margin: 0 1rem;
}

.github__icon,
.linkedin__icon,
.email__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.github__icon:hover,
.linkedin__icon:hover,
.email__icon:hover {
    opacity: .8;
}

.copyright {
    font-size: .7rem;
    padding: 2rem;
    text-align: center;
    font-weight: bold;
}