.footer__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    list-style: none;
    text-decoration: none;
    padding: 12rem 0 1.5rem 0;
}

.footer__icons ul li {
    padding: 0 2rem;
}

.footer__icons li a {
    color: #FFFFFF;
}

.github__icon,
.linkedin__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 32px;
    height: auto;
}

.copyright {
    font-size: .7rem;
    padding: 2rem;
    text-align: center;
    font-weight: bold;
}