.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
}

.title {
    font-size: 3.8rem;
    font-weight: 700;
    animation: beginningContent 4000ms ease-out forwards;
    text-align: center;
}

.subtitle {
    text-align: center;
    font-size: 1rem;
    color: #FFFFFF;
    animation: beginningContent 4000ms ease-out forwards;
}

.content__button {
    width: 150px;
    height: 150px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    transition: opacity 4000ms ease-out 400ms;
    opacity: 0;
}

.loaded .content__button {
    opacity: 1;
}

.content__button a {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 400ms ease;
    transition-duration: 400ms;
    opacity: 0;
}

.loaded .content__button a {
    opacity: 1;
}

.content__button a:hover {
    background-color: #FFFFFF;
    color: #000000;
}

.projects {
    display: block;
}

.projects .projects__title {
    text-align: center;
    padding: 3.75rem 0;
    font-weight: 300;
    font-size: 1.125rem;   
}

.projects .projects__cards {
    display: -webkit-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    max-width: 1200px;
    padding: 0 .7rem;
    margin: 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-align: stretch;
    -webkit-box-pack: start;
}

.projects .projects__cards__item {
    width: 25%;
    position: relative;
    overflow: hidden;
}

.projects .projects__cards__item a {
    text-decoration: none;
    cursor: pointer;
    outline: none;
    color: #FFFFFF;
}

.projects .projects__cards__item a .projects__cards__item__type {
    position: absolute;
    text-align: left;
    width: 100%;
    padding: 0 0 .7rem 0;
    top: .7rem;
    left: .7rem;
    z-index: 2;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    font-size: .7rem;
}

.projects .projects__cards a .projects__card__item__image {
    display: block;
    overflow: hidden;
    position: relative;
    z-index: 1;
    line-height: 1;
    background-color: #010101;
}

.projects .projects__cards .projects__cards__item a .projects__cards__item__image img {
    max-width: 100%;
    width: 293.5px;
    height: 293.5px;
    object-fit: cover;
    object-position: right;
    vertical-align: bottom;
    overflow-clip-margin: content-box;
}

.projects .projects__cards .projects__cards__item a .projects__cards__item__description {
    position: absolute;
    z-index: 2;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: .7rem;
    padding: 1.25rem 0;
    font-family: "Noto Sans", "Heebo", arial, helvetica, sans-serif;
    font-weight: 700;
    line-height: 1.4;
}

@keyframes beginningContent {
    0% {
        opacity: 0;
        transform: scale(1.15);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
